<% title 'Resend confirmation instructions' %>

<section class="devise_auth">
  
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'confirmation_form' }) do |f| %>
  
  <% if resource.errors.any? %>
  <div id="error_explanation" class="text-danger">
    <h4>There were following problems</h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control mb-4' %>

  <%= f.submit 'Resend confirmation instructions', class: 'btn btn-primary' %>
<% end %>
