<h2 id="simpleHeading">Settings</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :name%>
    <%= f.text_field :name, value: f.object.name.try(:titlecase), autofocus: true, class: 'form-control', autocomplete: 'name' %>
  </div>

  <div class="form-group">
    <%= f.label :email%>
    <%= f.text_field :email, class: 'form-control', autocomplete: 'email' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="input-group mb-3" style="margin-top: 1.3rem; max-width: 400px;">
    
    <% if @attachment %>
    <div class="input-group-prepend" style="margin-right: 5px;">
      <%= small_thumbnail(resource) %>
    </div>
    <% end %>

    <div class="custom-file">
      <%= f.label :display_picture, 'Update display picture', class: 'custom-file-label text-left', style: 'border-radius: 0.25rem' %>
      <%= f.file_field :display_picture, class: 'custom-file-input'%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, class: 'form-control', autocomplete: 'new-password' %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'new-password' %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(only if you change your password)</i>
    <%= f.password_field :current_password, class: 'form-control', autocomplete: 'current_password' %>
  </div>

  <%= f.submit "Save changes", class: "btn btn-primary"%>
<% end %>

<h4 style="margin-top: 2rem;">Cancel my account</h4>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>

<%= link_to 'Back', back_path_for_user(resource), class: 'btn btn-secondary back-button' %>
