<% if user_signed_in? %>
  <p>Comment as <%= user_link(current_user, 'comment_as_link') { current_user.name } %></p>
  <%= render 'comments/form', topic: @topic, comment: @comment %>
<% else %>
  <div style="margin-bottom: 2rem;">
    <%= link_to 'Please sign in for joining the discussion.', new_user_session_path %>
  </div>
<% end %>

<section id="discussion">
  <h4>Discussion</h4>
  <div class="comments-top-pagination custom-pagination">
    <%= paginate @comments, window: 2 %>
  </div>
  
  <%= render(@comments) %>
  
  <p class='text-center'>
    <%= page_entries_info @comments %>
  </p>
  <div class="custom-pagination">
    <%= paginate @comments, window: 2 %>  
  </div>
</section>
