<%= render 'errors' if topic.errors.any? %>

<%= form_with model: topic, local: true, class: 'topic_form' do |form| %>
  <div class="form-group" style="margin-bottom: 0.5rem;">
    <%= form.text_field :title, class: 'form-control topic_title_field',  "aria-describedby": "titleHelp", placeholder: 'Type a title...', autofocus: true, autocomplete: false%>
  </div>

  <div class="form-check form-check-inline">
    <%= form.radio_button :visibility, 'public', class: 'form-check-input' %>
    <%= form.label :visibility, 'Public', value: 'Public', class: 'form-check-label' %>
  </div>

  <div class="form-check form-check-inline">
    <%= form.radio_button :visibility, 'private', class: 'form-check-input' %>
    <%= form.label :visibility, 'Private', value: 'Private', class: 'form-check-label' %>
  </div>
  <% if action_name.in?(['edit', 'update']) && topic.visibility_private? %>
    <small class="form-text text-muted">Updating a private topic to public removes all private users</small>
  <% end %>
  <div class="spacer"></div>
  <%= form.collection_check_boxes :tag_ids, Tag.alphabetically, :id, :name do |builder| %>
    <div class="form-check form-check-inline">
      <%= builder.check_box class: 'form-check-input' %>
      <%= builder.label class: 'form-check-label' %>
    </div>
  <% end %>

  <div class="form-group" style="margin: 1.5rem 0;">    
    <%= form.rich_text_area :description, "aria-describedby": "descriptionHelp", placeholder: 'Write about what you want to discuss about the topic...', class: 'topic-trix-editor'%>
    <small id="descriptionHelp" class="form-text text-muted text-right">Drag and drop images</small>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>

<div style="display: inline-block">
  <%= button_to('Delete', topic, 
  method: :delete, data: {confirm: 'Are you sure?'}, 
  class: 'btn btn-danger', id: 'deleteTopic') if topic.persisted?%>
</div>

<%= link_to 'Back', back_path_for_topic(topic), class: 'btn btn-secondary float-right', style: 'margin-bottom: 1rem' %>
