<section class="sharing_form">
  <%= form_with model: [@topic, @viewer], local: true do |form| %>
    <div class="form-group">
      <%= form.label :user_email, 'Share with someone' %>
      
      <%= form.email_field(:user_email, placeholder: 'Email', 
        autofocus: true, class: field_class(@viewer, :user_email)) %>
      
      <% if @viewer.errors[:user_email].any? %>

        <div class="invalid-feedback">
          <%= @viewer.errors[:user_email].first %>
        </div>

      <% end %>

    </div>
    
    <%= form.submit 'Share', class: 'btn btn-primary' %>
  <% end %>
</section>
