<%= content_tag :div, class: "card#{first_topic?(topic_counter)}" do %>
  <div class="card-body">
    <h5 class="card-title"> 
      <%= link_to topic.title, topic_slug_path(topic.id, topic.slug) %>
    </h5>
    
    <h6 class="card-subtitle mb-2 text-muted topic_information">
      <%= topic_information(topic) %>
    </h6>
    
    <p class="card-text" style="margin-top: 1rem;">
      <%= truncate topic.description, length: 100 %>    
    </p>
    <%= render 'topics/voting', topic: topic %>
    <%= link_to 'View Discussion', topic_slug_path(topic.id, topic.slug), class: 'card-link' %>
    
  </div>
<% end %>
