<h2 id="simpleHeading"><%= @topic.title %> <%= private_topic?(@topic) %></h2>

<p class="topic_information">
  <%= topic_information(@topic) %> 
  <%= topic_edit_link(@topic) %>
  <%= topic_sharing_link(@topic) %>    
</p>

<%= render 'topics/voting', topic: @topic %>

<section class="lead" style="margin-bottom: 2rem;">
  <%= simple_format @topic.description %>
</section>

<%= render 'topics/discussion' %>
