<% title @topic.title %>

<div class="semi-container">
  <h2 id="simpleHeading"><%= @topic.title %> <%= private_topic?(@topic) %></h2>

  <p class="topic_information">
    <%= topic_information(@topic) %> 
    <%= topic_edit_link(@topic) %>
    <%= topic_sharing_link(@topic) %>    
  </p>

  <%= render 'topics/voting', topic: @topic %>

  <section style="margin-bottom: 2rem;" class="topic-description">
    <%= @topic.description %>
  </section>

  <%= render 'topics/discussion' %>
</div>
