<h2><%= @topic.title %></h2>
<p><strong><%= topic_information(@topic) %></strong></p>

<p class="lead" style="margin-bottom: 2rem;"><%= @topic.description %></p>

<p>Comment as <mark class="text-capitalize"><%= current_user.name %></mark></span></p>

<%= render 'comments/form', topic: @topic %>

<h5>Discussion</h5>

<%= render @topic.comments %>
