<% title @topic.title %>

<h2 id="simpleHeading"><%= @topic.title %> <%= private_topic?(@topic) %></h2>

<% if @topic.tags.present? %>
  <section class="tags-list">
  <% @topic.tags.each do |tag| %>
    <%= tag_pill(tag) %>
  <% end %>
  </section>
<% end %>

<p class="topic_information">
  <%= topic_info(@topic) %> 
  <%= topic_edit_link(@topic) %>
  <%= topic_sharing_link(@topic) %>    
  <%= topic_report(@topic) %>
</p>

<%= render 'topics/voting', topic: @topic %>

<section class="topic-description">
  <%= @topic.description %>
</section>

<section id="copy" class="text-right">
  <%= button_tag 'Link', value: topic_slug_url(@topic.id, @topic.slug), class: 'btn  btn-secondary' %>
</section>

<%= render 'topics/discussion' %>
<%= render 'report_modal' if current_user and @topic.public_and_not_owned_by?(current_user) %>
