<% title @topic.title %>

<h2 id="simpleHeading"><%= @topic.title %> <%= private_topic?(@topic) %></h2>

<p class="topic_information">
  <%= topic_information(@topic) %> 
  <%= topic_edit_link(@topic) %>
  <%= topic_sharing_link(@topic) %>    
</p>

<%= render 'topics/voting', topic: @topic %>

<section class="topic-description">
  <%= @topic.description %>
</section>

<section id="copy" class="text-right">
  <%= button_tag 'Link', value: topic_slug_url(@topic.id, @topic.slug), class: 'btn  btn-secondary' %>
</section>

<%= render 'topics/discussion' %>
