<h2><%= @topic.title %></h2>
<p><strong><%= topic_information(@topic) %></strong></p>

<p class="lead" style="margin-bottom: 2rem;"><%= @topic.description %></p>

<% if user_signed_in? %>
  <p>
    Comment as <mark class="text-capitalize"><%= current_user.name %></mark>
  </p>
  <%= render 'comments/form', topic: @topic, comment: @comment %>
<% else %>
  <div style="margin-bottom: 2rem;">
    <%= link_to 'Please sign in for joining the discussion.', new_user_session_path %>
  </div>
<% end %>

<h5>Discussion</h5>
<%= render(@topic.comments_by_updated_at) || no_comment_message %>
