<%= form_with model: [:manage, tag], local: true, html: {id: 'tagForm'} do |form| %>
  <%= render 'errors', tag: tag %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', autofocus: true %>
  </div>
  <%= form.submit class: 'btn btn-primary' %>
<% end %>

<div class="text-center">
  <%= link_to 'Back', manage_tags_path, class: 'btn btn-secondary back-button' %>
</div>

