<% title 'Manage tags' %>

<h2 id="simpleHeading" class="text-center">Manage tags</h2>

<div id="createTag" class="text-center">
  <%= link_to 'Create tag', new_manage_tag_path, class: 'btn btn-lg btn-outline-primary' %>
</div>

<table class="table" id="tagsTable">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Topics count</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td>
          <%= link_to tag.name, tag_path(tag), class: 'text-dark' %>
        </td>
        <td><%= tag.topics_count %></td>
        <td>
        <%= link_to 'Edit', edit_manage_tag_path(tag), class: 'btn btn-outline-secondary' %> 
        <%= link_to 'Delete', manage_tag_path(tag), method: :delete, data: {confirm: "Are you sure you want to delete #{tag.name}?"}, class: 'btn btn-outline-danger tag-delete-button'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
