<footer class="text-center">
  <%= link_to 'Github repo', 'https://github.com/aurangzaib-danial/discuss-party', target: '_blank' %>

  <%= link_to 'Blog post', '#', target: '_blank' %>

  <%= link_to 'Video demo', '#', target: '_blank' %>

  <%= link_to 'Code review', '#', target: '_blank' %>

  <span>MADE WITH <i class="fas fa-heart text-danger"></i> BY 
  <%= link_to 'Aurangzaib Danial', 'https://github.com/aurangzaib-danial', target: '_blank' %>
  </span>
</footer>

