<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <%= nav_li 'Home', root_path %>
    <%= nav_li 'About', about_path %>
    <% if user_signed_in? %>
      <%= nav_li 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= nav_li 'Sign in', new_user_session_path %>
      <%= nav_li 'Sign up', new_user_registration_path %>
    <% end %>
  </ul>

  <ul class="navbar-nav ml-auto right-nav-ul">
    <li class="nav-item">
      <%= link_to 'Create Topic', new_topic_path, class: 'btn btn-light', role: 'button' %>
    </li>
  </ul>
  
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
  </form>
  
 </div>
