<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    
    <% if current_user.nil? || current_user.normal_user? %>
      <%= nav_li 'Home', root_path %>
    <% else %>
      <%= render 'partials/manage_dropdown' %>
    <% end %>
  
    <%= render 'partials/tags_dropdown' %>

    <% if user_signed_in? %>
      <%= nav_li(short_user_name(current_user), 
        user_slug_path(current_user.id, current_user.slug),
        class: 'nav-link text-capitalize')
        %>
      <%= nav_li 'Private', private_path %>
      <%= nav_li 'Shared with me', shared_with_me_path %>
      <%= nav_li 'Settings', edit_user_registration_path %>
      <%= nav_li 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= nav_li 'Sign in', new_user_session_path %>
      <%= nav_li 'Sign up', new_user_registration_path %>
    <% end %>
  </ul>

  <ul class="navbar-nav ml-auto right-nav-ul">
    <li class="nav-item">
      <%= link_to 'Create Topic', new_topic_path, class: 'btn btn-light', role: 'button' %>
    </li>
  </ul>

  <%= form_with url: search_path, local: true, method: :get, class: 'form-inline my-2 my-xl-0' do %>
    <input class="form-control mr-sm-2" type="search" name="q" id="navbar_search" placeholder="Search for topics" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
  <% end %>
  
 </div>
