<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'partials/navigation' %>
    </header>
    <%= render 'partials/flash' %>
    <main class="container">
      <%= render 'partials/sorting_nav' if @topics.present?%>
      <%= render 'partials/heading_with_pagination' %>            

      <%= content_for?(:semi_container) ? yield(:semi_container) : yield %>

      <%= render 'partials/bottom_pagination' if @topics.present? %>
      <%= render 'partials/footer' %>
    </main>
  </body>
</html>
