<!DOCTYPE html>
<html>
  <head>
    <title>DiscussParty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <%= render 'partials/navigation' %>
    </header>
    <%= render 'partials/flash' %>
    <main class="container">
      <%= render 'partials/sorting_nav' if @topics.present?%>
      
      <%= content_tag :h2, yield(:heading), class: 'text-capitalize', id: 'top-heading' if content_for?(:heading)%>
      
      <div id="topPagination">
        <%= paginate @topics_scope.page(params[:page]), window: 2 if @topics.present?%>
      </div>

      <%= yield %>

      <% if @topics.present? %>
        <p class='text-center'>
          <%= page_entries_info @topics_scope.page(params[:page]) %>
        </p>
        <%= paginate @topics_scope.page(params[:page]), window: 2 %>
      <% end %>
    </main>
  </body>
</html>
