<!DOCTYPE html>
<html>
  <head>
    <title>DiscussParty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <%= render 'partials/navigation' %>
    </header>
    <%= render 'partials/flash' %>
    <main class="container">
      
      <% if @topics.present? %>
        <%= render 'partials/sorting_nav' %>
        <%= paginate @topics_scope.page(params[:page]) %>
      <% end %>

      <%= yield %>

      <% if @topics_scope.present? %>
        <%= page_entries_info @topics_scope.page(params[:page]) %> 
        <%= paginate @topics_scope.page(params[:page]) %>
      <% end %>
    </main>
  </body>
</html>
